asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.6.15
charset-normalizer==2.1.0
Django==4.0.5
idna==3.3
requests==2.28.1
sqlparse==0.4.2
urllib3==1.26.11
backports.zoneinfo==0.2.1;python_version<"3.9"
gunicorn==20.1.0